.top_div {
  display: flex;
  justify-content: center;
}









#footer {
  flex-direction: column;
  align-items: center;
  border-top: 1px solid Gainsboro;
}

.footerTop {
  display: flex;
  margin-top: 8px;
}

#smhrd {
  margin-right: 20px;
}








