#chatHead {
    margin: 60px;
}

#chatHead>div {
    display: flex;
    width: 900px;
}

.leftBox {
    width: 300px;
    height: 700px;
    background-color: var(--mainGray);
    padding: 10px 10px;
    margin-right: 5px;
}

.chatroomTab {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    margin-top: 1px;
    background-color: white;
}

.rightBox {
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--mainGray);
}

.chatContentListBox {
    overflow: auto;
    height: 650px;
}
.chatContentListBox::-webkit-scrollbar {
    width: 6px;
}

.opp, .me {
    width: 485px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
}

.opp>span:first-child, .me>span:first-child {
    background-color: white;
    padding: 3px 10px;
    margin: 0px 8px;
    border-radius: 50px;
}

.me {
    flex-direction: row-reverse;
}

.inputBox {
    height: 50px;
    width: 450px;
    background-color: white;
    margin: 15px 0px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBox>input {
    width: 350px;
    margin-right: 10px;
    border: none;
}

.inputBox button {
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: var(--mainYellow);
}