.rightSection img, #menuImg {
    height: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}

#rsLogin {
    display: flex;
    align-items: center;
}


#header {
    background-color: #feca57;
    width: 100%;
    position: fixed;
  }
  
  .desktopHeader {
    width: 60rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .leftSection {
    display: flex;
    align-items: center;
  }
  
  .menu {
    padding-top: 1.5rem;
    font-size: 1.1rem;
  }
  
  .menu span {
    margin-left: 1rem;
    cursor: pointer;
  }
  
  .searchBox{
    display: flex;
    width: 17.5rem;
    padding: 0.3rem;
    border: 1px solid Gainsboro;
    border-radius: 5px;
    background-color: white;
  }
  
  .searchBox input {
    flex-grow: 1;
    border: none;
  }
  
  .rightSection button {
    margin-left: 0.5rem;
    font-size: 1rem;
    /* 버튼안에있는 글자 위치 변환 */
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 1.6rem;
  }
  
  
  #logo {
    height: 2.25rem;
    margin-left: 0.5rem;
  }
  
  #searchIcon {
    height: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.25rem;
  }


  .alarmList {
    position: absolute;
    top: 3.75rem;
    width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }






  /* header_s의 css */
  #menu {
    height: 3.75rem;
    margin-left: 1rem;
  }