.top{
    display: flex;
    justify-content: center;
    margin-top: 72px;    
}

.containerB{
   
    justify-content: center;
    border: 1px solid var(--mainGray );
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 3%;
    width: 600px;
    height: 700px;
    margin-bottom: 7rem;
    
}


.userpart{
    display: flex;   
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;

}


.picandnick{   
   display: flex;
}
    
.trustpart{
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}



.contentpart{
    margin-left: 19px;
    min-height: 300px;
    max-height: 500px;
}

#content{
    margin-top: 10px;
    overflow: auto
    
}
#chatbtn{
     
    align-items: flex-end;
    width:150px;    
    height: 30px;
    background-color: var(--mainYellow );
    border-radius: 5px;
    color:rgb(22, 22, 22);
    text-decoration: none; 
    text-align: center;
    font-size: 15px;
    border: none;
    letter-spacing: -0.3px; 
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#chatbtn:hover{
    color:white;
    background-color: var(--mainNavy);
}

#title{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: -7px;
    margin-left: 10px;
}

.subtitle{
    margin-left: 10px;
    font-size:12px;
    color:rgb(131, 131, 131);
}

#category{
    font-size:12px;
    color:rgb(131, 131, 131);
}

#time{
    margin-left: 10px;
    font-size: 10px;
    color:rgb(131, 131, 131);
}

#write{
    margin-left: 10px;
}
.content{
    margin-left: 10px;
}
.tradepart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  
}

.tradebtn{
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
}
.price{   
    justify-content: flex-end;
    margin-right: 10px;
}

.chat{
    margin-right: 10px;
    justify-content: flex-end;
  
}

hr{
    margin-left: 0.35rem;
    width: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    width: 98%;
}

#userpic{
    margin-right: 10px;
  
    margin-left: 10px;
}


.titlepart>span{
    font-size: 10px;
    color:rgb(131, 131, 131);
}

.urgentmark{
    margin-right: 0.5rem;
    width: 4rem;
    height: 30px;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 0.23rem;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

    
}

