.topdivB {
    display: flex;
    margin-top: 72px;
    flex-direction: row;
    justify-content: center;
}


 #sidepic{
    width:50px;
    cursor: pointer;
 }

.pressbtn{
    background-color: rgb(255, 237, 138);
}

#checkpart{
  margin-left: 0.1rem;
}

.period>input{
    width: 7rem;
    margin-top: 0.5rem;
    
}

.wantedprice{
    margin-top: 0.5rem;
}

#pricenum{
    margin-top: 0.5rem;
    width:12rem;
}

#wantedperiod{
    margin-top: 7rem;
}

.wantedjob{
    margin-top: 0.5rem;
}

#wantedcategory{
    font-weight: lighter;
    height: 2rem;
    width: 12rem;
}


.secondtopdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
#dong{
    display: flex;
    font-size: 20px;
 
 
}
#category_listmain{
    flex-direction: row;
    justify-content: flex-end;
    font-weight: lighter;
    width:8rem;
    height: 2rem;
    background-color:var( --mainGray);
    border: none;
    

}
#contentbox {
    /* margin-top: 20px;
    margin-left: 14px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.previewlist {
    margin-top: 40px;
    width: 610px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}
#itembox{
    justify-content: center;
}
#box {
    /* margin-right: 5px; */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
    margin-bottom: 5px;
    font-size: 18px;
    width: 300px;
    height: 150px;
    background-color: var(--mainGray);    
    text-align: left;
    padding-left: 18px;
    padding-top: 18px;
    padding-right: 18px;
    margin-left: -9.5px;
    border-radius: 20px;
}
#morebtn {
    font-size: 15px;
   
    border: none;
    width: 26rem;
    height: 40px;
    background-color: rgb(255, 237, 138);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}
.moreviewbtn {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#morebtn:hover {
    color:white;
    background-color: var(--mainNavy);
}
.Row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bookmark{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

#filterbtn{
    font-size: 15px;
   margin-top: 0.5rem;
    border: none;
    width: 5rem;
    height: 40px;
    background-color: rgb(255, 237, 138);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}

#filterbtn:hover{
    color:white;
    background-color: var(--mainNavy);
}