  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }
  #main>div {
    margin: 1.25rem 0rem;
  }
  .top_div_width {
    width: 60rem;
  }


  .category {
    
    width: 90%;
  }
  .categoryRow {
    display: flex;

  }
  .categoryRow>div {
    width: 20%;
    flex-grow: 1;
  }
  .category img {
    width: 100%;
  }
  .categoryBox:hover {
    background-color: var(--mainGray);
  }
  .categoryBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem;
  }
  .categoryBox span {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
  }
  



  .buttonBox {
    display: flex;
    width: 80%;
  }
  .buttonBox p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.625rem;
    font-size: 1.4rem;
  }
  .buttonBox img {
    height: 4rem;
  }
  #btnImgP img{
    height: 4rem;
  }
  #btnImgP p{
    font-size: 1.3rem;
  }
  .buttonHelp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 1.5rem;
    
    border: none;
    border-radius: 0.75rem;
    background: linear-gradient(to right, rgb(111, 244, 233), rgb(180, 163, 255));
    color: white;
  }
  

  .buttonNote div,.buttonMagnif div, .buttonSolver div {
    
    margin-left: 0.6rem;
  }
  .buttonNote p, .buttonMagnif p, .buttonSolver p {
    margin: 0px;
    height: 30%;
  }
  .buttonMagnif, .buttonSolver, .buttonNote {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-right: 1.5rem;

    border: none;
    border-radius: 12px;
    color: white;
  }
  .buttonNote {
    background-color: rgb(111, 244, 233);
  }
  .buttonMagnif {
    background-color: rgb(180, 163, 255);
  }
  .buttonSolver {
    background-color: rgb(75, 75, 75);
  }
  #showBtn {
    display: flex;
  }
  #hideBtn {
    display: none;
  }
  
  
  
  .hurry {
    background-color: var(--mainGray);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hurry div {
    width: 90%;
  }
  .hurryTitle {
    padding-top: 2rem;
    padding-left: 5rem;
    padding-bottom: 0.4rem;
  
    display: flex;
    align-items: center;
  }
  .realTimePost {
    height: 15rem;
    background-color: white;
    margin-bottom: 2rem;
    display: flex;
  }
  .postListBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: auto;
    padding: 0.3rem;
  }
  .postListBox>div button.payOfferF {
    display: none;
  }
 .postListBox>div button.payOfferT {
    font-size: 0.8rem;
    border: none;
    border-radius: 6px;
    background-color: tomato;
    color: white;
    margin-left: 0.5rem;
    min-width: fit-content;
    height: fit-content;
  }
  .postListBox>div span:first-child {
    color: white;
    font-size: 0.9rem;
    max-width: 100%;
    max-height: 2.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    line-height: 1.4;
    -webkit-line-clamp: 2 ;
  }
  .postListBox>div span:last-child {
    font-size: 0.9rem;
    color: var(--mainYellow);
    min-width: fit-content;
    height: fit-content;
    margin-left: 0.5rem;
  }
  .postListBox>div {
    width: 98%;
    display: inline-flex;
    max-width: fit-content;
    flex-wrap: wrap;
    background-color: var(--mainNavy);
    padding: 0.4rem 0.6rem;
    margin: 0.2rem;
    border-radius: 11px;
    cursor: pointer;
  }
  .postListBox>div:hover {
    background-color: rgba(35, 118, 190, 0.838);
  }

  #myMap {
    width: 350px;
    height: 240px;
  }
  

  .todayPost {
    display: none;
    background-color: var(--mainGray);
    width: 100%;
    height: 25rem;
  }
  