.wholeBox{
    margin-top: 10rem;
    width: 50rem;
    margin-bottom: 10rem;
  overflow: hidden;
}
.juImg{
    height: 2.2em !important;
}
.jeImg{
    height: 1.5em !important;
}



.bookmarkHeader{
    
    height:4rem;
    background-color: var(--mainGray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    
}

#cancelbtn{
    width:5rem;
    border: none;
    height: 2rem;
    background-color: rgb(80, 77, 73);
    color: white;
    margin-left: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.oneContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#tablepart tr{
   margin: 3rem 0 !important;
}

#tablepart{
   width: 50rem;
   /* border: 1px solid gray; */

   text-align: center;
   border-collapse: separate;
	border-spacing: 0 20px;
}
#tablepart span {
   margin-bottom: 2rem;
}

.contentHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.contentPart{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

.bottompart{
    height: 0.7rem;
    background-color: var(--mainGray);
    margin-top: 0.7rem;
}

.footpart{
    height: 0.15rem;
    background-color: rgb(80, 77, 73);
}

