
.top_div{
    display: flex;
    justify-content: center;
  }
  
  /* ===PFnone=== */
  /* 가장 큰 div */
  .pfNoneDiv{
    margin: 1rem;
    margin-bottom: 10rem;
    display : flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
  }
  .pfNoneDiv img{
    /* 여기 주석은 상단바가 움직여서 주석처리 */
    /* width: 30rem;
    height: 25rem; */
    margin: 2rem;
  }
  /* 프로필생성버튼 */
  #makePF{
    margin: 1em;
    padding: 0.3em;
    background-color: gray;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 0.8em;
  }
  #makePF:hover{
    background-color: rgb(200, 200, 200);
  }
  
  /* PFcreate */
  /* 가장 큰 틀 */
  .pfCreateDiv{
    margin: 3em;
    /* margin-left: 15em; */
    border-radius: 50px;
    padding: 2em;
    width: 32em;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: var(--mainGray);
    font-size: 1.2rem;
    font-weight: bold;
  }
  /* 이미지 동그랗게 만들기 */
  .pfImgDiv img{
    height: 6em;
    width: 6em;
    object-fit: cover;
    border-radius: 50%;
  }
  /* 이미지 옆에 닉네임 오게만들기 */
  .pfImgDiv{
    display: flex;
    align-items: center;
  }
  /* 이미지와 닉네임 공간 띄우기 */
  .pfImgDiv h2{
    margin: 1em;
  }
  /* 카테고리 사이드 띄우기 */
  .pfCategory{
    margin: 1em 0em;
  }
  /* 카테고리 버튼 버튼처럼 만들기 */
  .pfCategoryBox{
    text-align: center;
    width: 9em;
    height: 2.8em;
    margin: 0.3em;
    background-color: white;
    display:inline-block;
    padding: 0.3em;
    border-radius: 50px;
    cursor: pointer;
    font-size: 0.95em;

    border: 0px;
  }
  /* 하고싶은 말 들어갈 공간 스크롤 만들기 */
  #say{
    width: 19em;
    padding: 1em;
    border-radius: 10px;
    overflow: auto;
    resize:none;
    font-size: 1.5em;
  }
  /* 활동내역 들어갈 공간 스크롤 만들기 */
  .pfActive{
    width: 28em;
    max-height: 13em;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border : 2px solid black;
    overflow: auto;
  }
  /* 공개기간의 날짜 꾸미기 */
  .pfDate input{
    padding: 0.5em 0.5em;
    margin: 0.5em 1em;
    font-size: 1em;
    border-radius: 10px;
  }
  /* 저장하기 버튼 꾸미기 */
  #savePF{
    padding: 0.5em 2em;
    background-color: white;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    border: 7px solid var(--mainGray)
  }
  #savePF:hover{
    background-color: #ffef7946;
  }
  /* 활동내역 들어갈 공간 */
  .pfActive div{
    width: 24.85em;
    height: 4.5em;
    margin: 10px 0px;
    background-color: var(--mainYellow);
  }
  /* 저장하기 버튼 가운데로 옮기기 */
  .pfSaveDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  /*MPmenu*/
  /* 메뉴 고정시키기 */
  .SJmenu{
    position: fixed;
    top: 4rem;
    left: 0px;
    padding: 1.5rem;
    width: 16rem;
    height: 80rem;
    background-color: var(--mainNavy);
  }
  /* 메뉴 목록들 간의 공간 띄우기 */
  .SJmenu div{
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
  }
  /* .menuArrow{
    position: absolute;
    top: 72px;
    left: 50px;
    border-radius: 50px;
    width : 80px; 
    height : 80px;
  } */
  /* 메뉴에 들어갈 글씨 꾸미기 */
  .menuBtn{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .menuBtn:hover{
    color:var(--mainYellow)
  }
  /* 메뉴숨기기 */
  .menuNone{
    display: none;
  }
  
  
  
  
  
  /*PFmyView*/
  /* 내가 보는 프로필 가장 큰 div */
  .pfMyView{
      margin: 3em;
    /* margin-left: 15em; */
    border-radius: 50px;
    padding: 2em;
    width: 32em;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: var(--mainGray);
    font-size: 1.2rem;
    font-weight: bold;
  }
  .triangle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em;
    color: black;
  }
  .triangle img{
    width: 1.3em;
  }
  .faceImg{
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
    color: black;
    margin:0.5em;
  }
  .faceImg img{
    width: 1.7em;
    margin-left: 0.5em;
  }
  

  /*마우스*/
  /* 카테고리 올렸을 경우 어떻게? */
  #pfCateHover:hover{
    background-color: #ffef7946;
  }
  /* 카테고리를 클릭했을 경우 */
  .pfClickBtn{
    background-color: var(--mainYellow) !important;
  }
  
  /* PFlist */
  /* 셀렉트 부분의 창 조절 */

  /* 카테고리박스 10/25 */

  .pfList{
    position:static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pfCard{
    margin: 1vw;

  }
  /* 카테고리박스 10/25 */


  /*  */
.selLocDiv{
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--mainGray);
  padding: 2em;
  border-radius: 20px;
}
.cateTwinDiv{
  width:23rem;
  height: 15rem;

}
.selDivTop{
  display: flex;
  width: 100%;
  height: 20%;

}
.selDivBot{
  display: flex;
  width: 100%;
  height: 80%;

}
.selTopSm{
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
}
.selBotSm{
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cateTwinDiv .headP{
  padding: 0.4em 1em;
  padding-bottom: 1.6em;
  font-size: 1.5em;
  background-color: var(--mainYellow);
  border-radius: 10px;
}
#cateChoBtn{
  background-color: var(--mainYellow);
  padding: 1em 2em;
  border-radius: 10px;
}
#cateChoBtn:hover{
  background-color: #ffef7946;
  cursor: pointer;
}


/*  */

  
  /* select태그 관리 */
  
  select{
    width:80%;
    height: 3rem;
    text-align-last: center;
    -webkit-appearance:none; /* 크롬 화살표 없애기 */
    -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
    appearance:none; /* 화살표 없애기 */
  }

  
  
  /* 큰 선택 div 크기 줄이기 */
  /* .selLocDiv div{
    margin: 0.3rem;
  } */
  /* 큰 선택 div 가운데로 모으기 */
  .listDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  /*  */
  #choiceDiv{
    margin-top: 3rem;
    height: 4rem;
  }
  
  /* 모든 radio타입에 디자인 적용 */
  [type="radio"]{
    
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    margin: 0em 1em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    background-color: white;
  }
  [type="radio"]:checked {
    border: 0.4em solid var(--mainYellow);
  }
  /* checkbox타입에도 radio와 같은 디자인적용 */
  [type="checkbox"]{
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    margin: 0em 1em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    background-color: white;
  }
  [type="checkbox"]:checked{
    border: 0.4em solid var(--mainYellow);
  }
  
  /* number타입 디자인 */
  [type="number"]{
    width : 3em;
    margin: 0.2rem;
  }
  

  
  /* 내 개인정보 관리 페이지 */
  .myPrivacy{
    display: flex;
    flex-direction: column;
    margin: 3em;
    border-radius: 50px;
    padding: 2em;
    width: 32em;
    background-color: var(--mainGray);
    font-size: 1.2rem;
    font-weight: bold;
  }
  .myPrivacy div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
  }
  
  /* 수정버튼 */
  .changeInfo{
    padding: 0.2em 0.7em;
    background-color: rgba(128, 128, 128, 0.632);
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  .changeInfo:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
  }
  
  .myPrivacy img{
    height: 10em;
    width: 10em;
    object-fit: cover;
    border-radius: 50%;
  }

  /* 부트스트랩 게이지바 색상선정 */
  .progress{
    background-color: white !important;
  }
  .progress div{
    background-color: var(--mainYellow) !important;
  }
  

  /* 프로필 카드 */

  .selListDiv{
    max-width: 70rem;
  }
  .pfCard{

    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13.89em;
    background-color: var(--mainGray);
    border-radius: 20px;
  }
  .pfCardHead{
    margin-top:1em;
    display: flex;
    align-items: center;
  }
  .pfNameGen{
    margin: 1em;
    font-size: 1.1em;
    font-weight: 700;
  }
  .pfCard img{
    height: 6em;
    width: 6em;
    object-fit: cover;
    border-radius: 50%;
  }
  .pfCardBody{
    margin: 1em;
    border: 1em white solid;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    height: 8em;
    width: 12em;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical
  }



  /* 희망근무지역 div 꾸미기 */
  .locationHope{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .locationHope select{
    width: 14em;
    margin: 0.5em;
    border-radius: 50px;
    border: 0px;
  }
  .locationHope select:hover{
    background-color: #ffef7946;
    cursor: pointer;
  }
  .locationHope select option{
    background-color: var(--mainYellow);
  }
  .locationHope select:focus{
    outline: none;
  }
  .selected{
    background-color: var(--mainYellow);
  }

  /* 날짜 input태그 관리 */
  .pfDate input:focus{
    outline: none;
  }
  .pfDate input{
    border: 0px;
    margin: 1em;
  }



  /* 프로필 뷰 페이지 카테고리 */
  .catesContainer{
    display: flex;
    justify-content: space-around;
  }

  .myCates{
    background-color: var(--mainYellow);
    padding: 0.5em 1em;
    border-radius: 50px;
  }
  .mySays{
    background-color: white;
    border-radius: 20px;
    overflow: auto;
    max-height: 10em;
    padding: 1em;
    overflow: auto;
    text-align: center;
    
  }
  .pfDateSpace{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
  }


  /* 매너평가 페이지 */
  .mannerContainer{
    margin: 3em;
    /* margin-left: 15em; */
    border-radius: 50px;
    padding: 2em;
    width: 32em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mainGray);
    font-size: 1.2rem;
    font-weight: bold;
  }
  .mannerContainer div{
    margin: 1em;
  }

  .starContainer{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }
  .starContainer img{
    width: 4em;
  }
  #savePF:hover{
    cursor: pointer;
  }
